.carItem {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .carItem:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .carImage {
    width: 120px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    margin-right: 16px;
  }
  
  .carItem div {
    flex: 1;
  }
  
  .carItem h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  .carItem p {
    margin: 4px 0;
    font-size: 14px;
    color:#555;
 }
 .delete{
  background-color: #ff4d4f; /* צבע אדום */
  color: white; /* צבע טקסט */
  border: none; /* ללא מסגרת */
  border-radius: 5px; /* פינות מעוגלות */
  padding: 10px 20px; /* ריווח פנימי */
  font-size: 16px; /* גודל טקסט */
  font-weight: bold; /* טקסט מודגש */
  cursor: pointer; /* ידית שמראה שאפשר ללחוץ */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* צל */
  transition: all 0.3s ease; /* אנימציה בעת שינוי */
}

.delete:hover {
  background-color: #d9363e; /* צבע כהה יותר בהובר */
}

.delete:active {
  background-color: #b71c1c; /* צבע כהה יותר בלחיצה */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* צל קטן יותר */
  transform: scale(0.98); /* אפקט לחיצה */
}
